@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ---------------------------------------------------
    SIDENAV
----------------------------------------------------- */
body {
    font-family: 'Montserrat', sans-serif;
    background: #fafafa;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 280px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    background: #0a8310;
    color: #fff;
    transition: all 0.3s;
    height: calc(100vh); /* Set a height based on the viewport height minus a fixed amount */
    overflow-y: auto; /* Add a vertical scrollbar when the sidebar overflows */
}

#sidebar .sidebar-header {
    position: relative;
    padding: 20px;
    background: #054e09;
}

#sidebar .sidebar-header img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#sidebar .sidebar-header h1{
    font-size: 25px;
    margin: 0px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li ul a {
    padding: 2px;
    font-size: 1.0em;
    display: block;
}

#sidebar ul li ul {
    margin-left: 10px;
}

#sidebar ul li a:hover {
    color: #0a8310;
    background: #fff;
}

#sidebar ul li a i{
    width: 40px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #0a8310;
    background: #fff;
}

#maintenance-sublist {
    display: none;
}

#maintenance-sublist.show {
    display: block;
}

/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */
#content {
    width: calc(100% - 280px);
    min-height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    padding: 30px;
    transition: all 0.3s;
}

#content.active {
    width: 100%;
}